<form align= "center" asp-controller="Home" asp-action="Result">
    
    <p>Please enter your height</p>
    <p>feet</p>
    <input type="number" name="feet"/>

    <br/>
    <p>inches</p>
    <input type ="number" name="inches"/>

    <br/>
    <p>Please enter your weight</p>
    <input type="number" name="weight"/>

    <input type="submit"/>
</form>