@{
    ViewData["Title"] = "Home Page";
}


<div class="btn1">
    <h4> <a asp-action="BMIHome" asp-controller="Home">Calculate your BMI</a> </h4>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
